# TODO: Numpy is broken in Windows 2004 except for 1.19.3
# A fix should be out by end of Jan 2021 🙈
# https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html
attr-utils>=0.5.2
attrs>=20.2.0
domdf-python-tools>=1.0.0
enum-tools>=0.6.1
lxml>=4.5.2
memoized-property>=1.0.3
mh-utils>=0.0.3
numpy==1.19.3; platform_system == "Windows"
numpy>=1.19.1; platform_system != "Windows"
pandas>=1.1.1
prettyprinter>=0.18.0
pymassspec>=2.2.21
pythonnet>=2.5.1; platform_system == "Windows"
typing-extensions>=3.7.4.3
